.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid darken($secondary-color, 12.5);
}

.logo {
    width: 5%;
    margin-left: 40px;
}
.logo img {
    width: 100%;
}

.title h1 {
    font-weight: bold;
    border-bottom: 3px double transparent;
    margin: 0;
}

.user-logout {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.user-logout a {
    border: 1px solid $secondary-color;
    padding: 2% 6%;
    background: $primary-color;
    color: $white;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: lighter;
    box-shadow: 0.8px 0.8px 1px black;
}

.user-logout a:hover {
    background: darken($primary-color, 3);
    text-decoration: none;
}

.user-logout a:active {
    box-shadow: 0.2px 0.2px 1px black;
}

.user-logout a:nth-of-type(1) {
    margin-right: 10px;
}