.main-content {
    display: flex;
}

.chevron-l {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    img {
        width: 100%;
    }
}

.nav-tabs {width: 35%}
.password-cards {width: 65%}

.project-tabs {width: 100%;}
.project-tab {width: 100%}

.chevron-l {width: 10%;}

.project-tabs {
    border: 2px solid $secondary-color;
    border-top: none;
    height: 400px;
    overflow-y: scroll;
}

.project-tab {
    display: flex;
    border: 1px solid darken(darkgrey, 10);
}

.project-contents {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    p:nth-of-type(1) {
        font-size: 1.6rem;
        margin: 0;
        margin-top: 5px;
    }
    p:nth-of-type(2) {
        font-size: 1.4rem;
        color: $primary-color;
        margin-bottom: 5px;
    }
}

.project-tab:nth-of-type(3) {
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    background: darken(white, 10)
}