.util-add, .util-folder {
    width: 12%;
    img {
        width: 100%;
    }
}

.util-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darken(lightgrey, 10);
}

.util-left {
    display: flex;
    width: 35%;
}

.util-add {
    margin: 0 5px;
}

.util-add, .util-folder {
    border: 1px solid $secondary-color;
    padding: 1% 3%;
    background: $primary-color;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    outline: none;
}

.util-add:active, .util-folder:active {
    box-shadow: 0.2px 0.2px 1px black;
}

.util-right {
    display: flex;
    width: 65%;
    justify-content: flex-start;
}

